<div class='LoadingCube-container'
     style="
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
">
    <div class='cube'>
        <div class='front'></div>
        <div class='back'></div>
        <div class='right'></div>
        <div class='left'></div>
        <div class='top'></div>
        <div class='bottom'></div>
    </div>
</div>

