@inherits LayoutComponentBase

<div id="container" @ref="container">
    <main>
        @Body
    </main>
</div>

@code {

    ElementReference container;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

    }
}